
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}
.hearst{
   position: fixed;
   top:-1vh ;
   font-size: 2rem;

   transform: translatey(0);    
   animation: fall 3s linear forwards;

}

@keyframes fall{
to{
    transform: translatey(105vh);
}
}
